@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root{
    --primary-color: #05445E;
    --secondary-color: #2A7A87;
    --accent1-color: #75E6DA;
    --accent2-color: #50B0B1;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #05445E;
    --nav-link-color: #143ae0;
    --nav-hover-link-color: #75E6DA;
    --nav-hover-background-color: #50B0B1;
}

* {
    max-width: 1000px;
}

.hero {
    position: relative;
}


.hero img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.hero h1 {
    position:absolute;
    text-align: center;
    top: 50px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #05445E;
}

.hero article img {
    width: 300px;
    height:auto;
    float: right;
    opacity: 100%;
}
 
.hero article {
    position: absolute;
    width: 90%;
    height:auto;
    padding: 2.5%;
    top: 225px;
    left: 2.5%;
    background-color: #05445E;
    color: #75E6DA;
    opacity: 75%;
}

h2 {
    color: var(--primary-color);
}

section p {
    color: var(--secondary-color);
}
