@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root{
    --primary-color: #05445E;
    --secondary-color: #2A7A87;
    --accent1-color: #75E6DA;
    --accent2-color: #50B0B1;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #05445E;
    --nav-link-color: #143ae0;
    --nav-hover-link-color: #75E6DA;
    --nav-hover-background-color: #50B0B1;
}

* {
    max-width: 1000px;
}

header {
    margin: 1rem;
    display: grid;
    grid-template-columns: 200px 20fr 10fr;
    align-items: center;
    border-bottom: 1px solid #05445E;
    max-width: 1000px;
    background-color: #50B0B1;
}

.logo {
    margin: 0 .25rem 0 1rem;
    width: 150px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
nav {
    text-align: right;
}
.nav_1 {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    font-size: 20px;

}

.nav_1 li {
    flex: 1 1 100%;
}

.nav_1 a {
    display: block;
    color: #05445E;
    padding: 20px;
    border: 1px solid black;
    text-decoration: none;
    background-color: #75E6DA;
}

.nav_1 a:hover{
    color: #143ae0;
	font-weight: 700;
	text-decoration: underline;
} 

.history {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.history h2 img{
    position: absolute;
    align-content: flex-start;
    align-content: space-between;
    left: 2;
    
    
}



.history .p_2 {
    grid-column: 3/3;
    align-self: center;
}


.hero {
    justify-content: flex-start ;
    position: relative;
}


.hero img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.hero h1 {
    position:absolute;
    text-align: center;
    top: 50px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #05445E;
}

.hero article img {
    width: 300px;
    height:auto;
    float: right;
    opacity: 100%;
}
 
.hero article {
    position: absolute;
    width: 90%;
    height:auto;
    padding: 2.5%;
    top: 225px;
    left: 2.5%;
    background-color: #05445E;
    color: #75E6DA;
    opacity: 75%;
}


h2 {
    color: var(--primary-color);
}

section p {
    color: var(--secondary-color);
}

footer {
    color: var(--primary-color);
}

header nav a:link, header nav a:visited {
    color: var(--nav-background-color)
}


header nav a:hover {
    color: var(--accent2-color);
}

.sociallinks img {
    width: 40px;
    height: auto;

}
